* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1: #1976D2;
}

.root {
    -fx-background-color: -fx-primary;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20px;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
}

.button:hover, .button:focused {
    -fx-text-fill: -fx-primary;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
}

.text-field {
    /*-fx-text-fill: -fx-primarytext;*/
    -fx-prompt-text-fill: -fx-primarytext;
    -fx-text-fill: derive(-fx-secondary, 20%);
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
}

.text-area {
    -fx-prompt-text-fill: -fx-primarytext;
    -fx-text-fill: derive(-fx-secondary, 20%);
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
}

/* Combo box */
.combo-box {
    -fx-prompt-text-fill: -fx-primarytext;
    -fx-text-fill: derive(-fx-secondary, 20%);
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-background-color: -fx-primary;
}

.combo-box .arrow {
    -fx-background-color: -fx-primarytext;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: -fx-primary;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: -fx-primary;
    -fx-background-color: -fx-secondary;
}

.combo-box .list-cell:filled:selected {
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/* Check box */
.checkbox-main {
    -jfx-checked-color: -fx-primary;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt;
    -fx-padding: 5;
}

.label-title {
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 15pt;
}


/*---------------------------------------- auth ----------------------------------------*/

/*  Login   */
.label-recover {
    -fx-text-fill: red;
    -fx-border-color: -fx-primary;
    -fx-font-size: 12pt;
    -fx-font-style: italic;
    -fx-padding: 5;
}

.label-recover:hover, .label-recover:focused {
    -fx-underline: true;
    -fx-background-color: -fx-secondary;
}

.wrong-credentials {
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}

.datepicker {
    -fx-background-color: white;
}

/*---------------------------------------- event ----------------------------------------*/
.label-view {
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
    -fx-font-style: bold;
}

.button-side {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 0px;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 0px;
}